In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import tree

In [ ]:
covid = pd.read_csv("covid_clean.csv", low_memory = False)
display(covid)

,SEXO,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,FECHA_DEF
0,0,0,0,63,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,58,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,84,0,1,0,0,0,1,1,0,0,0,0
3,0,0,0,28,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,36,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141984,0,0,0,76,0,1,0,0,0,1,0,0,0,0,0
141985,0,0,0,94,0,1,1,0,0,0,0,0,0,0,0
141986,0,0,0,21,0,0,0,0,0,0,0,0,0,0,0
141987,0,0,0,57,0,1,0,0,1,0,1,0,1,0,0
141988,0,0,0,96,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Dividir la base de datos y entrenar y probar el modelo. 
feature_cols = ['SEXO', 'INTUBADO', 'NEUMONIA', 'EDAD', 'EMBARAZO', 'DIABETES', 'EPOC',
               'ASMA', 'INMUSUPR', 'HIPERTENSION', 'CARDIOVASCULAR', 'OBESIDAD',
               'RENAL_CRONICA', 'TABAQUISMO']
X = covid[feature_cols] # Features

y = covid.FECHA_DEF # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [ ]:
# Crear un clasificador
bosque = RandomForestClassifier(n_estimators=100,
                                criterion='gini',
                                max_features='sqrt',
                                bootstrap=True,
                                max_samples=2/3,
                                oob_score=True) #OutoftheBag_score = Instancias que no fueron utilizados para el árbol

#Entrenar al modelo y predecir la variable
bosque.fit(X_train,y_train)
y_pred=bosque.predict(X_test)

In [ ]:
#accuracy
print("Accuracy :",metrics.accuracy_score(y_test, y_pred))
print(f'OOB Score: {bosque.oob_score_}')

Accuracy : 0.873089654201
OOB Score: 0.871941403734707

In [ ]:
#Matriz de confusión
from prettytable import PrettyTable
from sklearn.metrics import confusion_matrix

confusion = confusion_matrix(y_test, y_pred)
table = PrettyTable()
table.add_column("", ["Pred. Muerto", "Pred. Vivo"])
table.add_column("Real Muerto", confusion[0])
table.add_column("Real Vivo", confusion[1])

print(table)

+--------------+-------------+-----------+
|              | Real Muerto | Real Vivo |
+--------------+-------------+-----------+
| Pred. Muerto |    36441    |    4582   |
|  Pred. Vivo  |     824     |    750    |
+--------------+-------------+-----------+